<h4>Notebooks add</h4>
{{#if error}}
  <p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="POST" class="z-depth-4 f_control" novalidate>
  <div class="input-field">
    <input
      id="title"
      name="title"
      type="text"
      class="validate"
      required
      value="{{data.title}}"
    />
    <label for="title">Notebooks model</label>
    <span class="helper-text" data-error="Enter Name"></span>
  </div>

  <div class="input-field">
    <textarea
      id="textarea"
      name="descr"
      class="materialize-textarea"
      value="{{data.descr}}"
      required
    ></textarea>
    <label for="textarea">Description</label>
  </div>

  <div class="input-field">
    <input
      id="price"
      name="price"
      type="number"
      class="validate"
      value="{{data.price}}"
      min="1"
      required
    />
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter Price"></span>
  </div>

  <div class="input-field">
    <input
      id="img"
      name="img"
      type="text"
      class="validate"
      value="{{data.img}}"
      required
    />
    <label for="img">URL image</label>
    <span class="helper-text" data-error="Enter URL"></span>
  </div>

  <button class="btn btn-primary">Add Notebooks</button>
</form>