<h4>Edit Notebook {{notebook.title}}</h4>
<form action="/notebooks/edit" method="POST" class="z-depth-4 f_control">

  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" value="{{notebook.title}}" required />
    <label for="title">Notebooks model</label>
    <span class="helper-text" data-error="Enter Name"></span>
  </div>

  <div class="input-field">
    <textarea
      id="textarea"
      name="descr"
      class="materialize-textarea"
      required
    >{{notebook.descr}}</textarea>
    <label for="textarea">Description</label>
  </div>

  <div class="input-field">
    <input
      id="price"
      name="price"
      type="number"
      class="validate"
      min="1"
      value="{{notebook.price}}"
      required
    />
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter Price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" value="{{notebook.img}}" required />
    <label for="img">URL image</label>
    <span class="helper-text" data-error="Enter URL"></span>
  </div>

    <input type="hidden" name="id" value="{{notebook.id}}">
  <button class="btn btn-primary">Edit Notebook</button>
</form>
<form action="/notebooks/remove" method="POST">
  <input type="hidden" name="id" value="{{notebook.id}}">
  <button class="btn red mt-2">Remove Notebook</button>
</form>