<div class="notebook">
  <h3 class="notebook__title">{{notebook.title}}</h3>
  <img class="notebook__img" src="{{notebook.img}}" alt="{{notebook.title}}" />
  <p class="notebook__descr">{{notebook.descr}}</p>
  <div >
    <h5 class="notebook__price">${{notebook.price}}</h5>
    <button class="btn btn-primary">Buy</button>
  </div>
</div>